/* * @type {import('tailwindcss').Config}
export default {
  content: [
    "./index.html",
    "./src*.{js,ts,jsx,tsx}",
  /* ],
  theme: {
    extend: {
      // We will define our project colors here later for global consistency
      colors: {
        primary: '#4F46E5', // Example brand color
        secondary: '#1F2937',
      }
    },
  },
  plugins: [],
} */ 
